<div class="report-list-item" id="report-list-item">
  <div class="header">
    <div class="col-sm-9">
      <h4>{{reportId}}</h4>
    </div>
    <div class="col-sm-3 status">
      <p>{{reportStatus}}</p>
    </div>
  </div>
  <span class="item">
    <i class="pi pi-user"></i>
    <p>Patient Name: {{patientName}}</p>
  </span>
  <span class="item">
    <i class="pi pi-building"></i>
    <p>Lab Booked: {{labBookedin}}</p>
  </span>
  <span class="item">
    <i class="pi pi-flag"></i>
    <p>Type: {{reportType}}</p>
  </span>
</div>