@import "../../../../../styles.scss";

.list-component {
  border: 2px solid var(--green-200);
  margin: 0.4rem 0;
  padding: 0.8rem;
  border-radius: 8px;

  .list {
    display: flex;
    justify-content: space-between;
  }

  h3 {
    font-size: 1.3rem;
    font-weight: 600;
  }

  h2 {
    text-align: center;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    color: var(--green-700);
    background-color: var(--green-100);
    border-radius: 12px;
  }
}