<div class="signup-link">
     <h1>Don't have an account?</h1>
     <a (click)="navigateToSignup()">Signup Here</a>
</div>
<div class="sign-in-component">
     <div class="info-image col-md-7">
          <img src="../../../../../assets/images/pulse-probe-logo.png" alt="logo-image">
          <h3>Benefits of creating an account</h3>
          <div class="promo-pulse-probe">
               <i class="pi pi-verified icon"></i>
               Get In Touch With Verified Doctors/Labs
          </div>
          <div class="promo-pulse-probe">
               <i class="pi pi-share-alt icon"></i>
               Easy Report Sharing
          </div>
          <div class="promo-pulse-probe">
               <i class="pi pi-heart icon"></i>
               Heart Disease Prediction
          </div>
          <div class="promo-pulse-probe">
               <i class="pi pi-briefcase icon"></i>
               Medical History Security
          </div>
          <div class="promo-pulse-probe">
               <i class="pi pi-calendar-plus icon"></i>
               Convienient Appointment Booking
          </div>
     </div>
     <div class="sign-up-form col-md-5">
          <form [formGroup]="signinForm">
               <span class="p-float-label sign-in-field">
                    <input class="p-inputtext-lg" autocomplete="off" id="name" pInputText formControlName="name">
                    <label htmlFor="name">Name</label>
               </span>
               <span class="p-float-label sign-in-field">
                    <input class="p-inputtext-lg" autocomplete="off" id="name" pInputText formControlName="email">
                    <label htmlFor="name">Email</label>
               </span>
               <span class="p-float-label sign-in-field">
                    <p-password class="p-inputtext-lg" [feedback]="false" autocomplete="off" id="name" [toggleMask]="true" formControlName="password"></p-password>
                    <label htmlFor="name">Password</label>
               </span>
               <span class="p-float-label sign-in-field">
                    <input class="p-inputtext-lg" autocomplete="off" id="name" pInputText formControlName="phoneNumber">
                    <label htmlFor="name">Phone Number</label>
               </span>
               <button [disabled]="!signinForm.valid" class="btn-submit" (click)="signinFormSubmit()">Sign In</button>
          </form>
     </div>
</div>
