<div class="component">
     <h2 class="heading">Pulse Probe Signup Form</h2>
     <div class="sign-up-container">
          <div class="promo col-md-6">
               <img src="../../../../../assets/images/pulse-probe-logo.png" alt="logo-image">
               <h3>Benefits of creating an account</h3>
               <div class="promo-pulse-probe">
                    <i class="pi pi-verified icon"></i>
                    Get In Touch With Verified Doctors/Labs
               </div>
               <div class="promo-pulse-probe">
                    <i class="pi pi-share-alt icon"></i>
                    Easy Report Sharing
               </div>
               <div class="promo-pulse-probe">
                    <i class="pi pi-heart icon"></i>
                    Heart Disease Prediction
               </div>
               <div class="promo-pulse-probe">
                    <i class="pi pi-briefcase icon"></i>
                    Medical History Security
               </div>
               <div class="promo-pulse-probe">
                    <i class="pi pi-calendar-plus icon"></i>
                    Convienient Appointment Booking
               </div>
         </div>
         <div class="form col-md-6">
         <form [formGroup]="signUpForm">
              <span class="p-float-label signup-field">
                   <input  class="p-inputtext-lg" autocomplete="false" id="name" pInputText pKeyFilter="alpha" formControlName="name" />
                   <label htmlFor="name">Name</label>
              </span>
              <span class="p-float-label signup-field">
                   <input class="p-inputtext-lg" id="email" pInputText formControlName="email">
                   <label htmlFor="email">Email</label>
              </span>
              <span class="p-float-label signup-field">
                   <p-password formControlName="password" id="password" [toggleMask]="true"></p-password>
                   <label htmlFor="password">Password</label>
              </span>
              <span class="p-float-label signup-field">
                   <p-password formControlName="rePassword" id="re-password" [toggleMask]="true" [feedback]="false"></p-password>
                   <label htmlFor="re-password">Re-enter Password</label>
              </span>
              <span class="p-float-label signup-field">
                   <p-dropdown [options]="signupRole" formControlName="signupAs" placeholder="Select a role" optionLabel="name" inputId="float-label"></p-dropdown>
                   <label for="float-label">Signup As</label>
              </span>
              <span class="p-float-label signup-field">
                   <p-inputMask mask="999-9999-999" id="mobileNumber" formControlName="mobileNumber"></p-inputMask>
                   <label for="mobileNumber">Mobile Number</label>
              </span>
              <p>
               By creating this account, you agree to our <strong>Terms & Conditions</strong> & <strong>Privacy Policy.</strong>
              </p>
              <button label="Submit" class="btn-submit" (onClick)="submitForm()">Submit</button>
         </form>
         </div>
     </div>
</div>
