@import "../../../../../assets/css/theme.css";

.component{
     padding: 1rem;
     border-radius: 0.5rem;
     margin: 0 25vh 20vh 25vh;

     .heading {
          margin-top: 1rem;;
          text-align: center;
          font-weight: 700;
     }

     .sign-up-container {
          display:flex;
          justify-content: left;
          align-items: left;
          background-color: white;
          margin-top: 2.5rem;
          img {
               width: 80%;
          }
     
          .form {
               background-color: var(--indigo-200);
               padding: 1rem;
     
               .signup-field{
                    margin: 0.5rem 0;
                    padding: 1rem 0;
               }

               .btn-submit {
                    width: 90%;
                    display: block;
                    margin: auto;
               }

               .p-inputtext {
                    width: 100%;
               }

               .p-inputwrapper {
                    width: 100%;
               }

               .btn-submit {
                    margin-top: 1.5rem;
                    border: none;
                    padding: 12px;
                    background-color: var(--indigo-400);
                    border-radius: 8px;
                    font-size: 1.5rem;
                    width: 100%;
                    color: white;
                    font-weight: 600;
                    transition: 0.5s ease background-color;

                    &:hover {
                         background-color: var(--indigo-600);
                    }
               }

          }

          .promo {
               background-color: white;
               padding: 1rem;

               img {
                    width: 30%;
                    padding: 1rem;
               }

               .icon {
                    padding-right:0.5rem;
               }

               h3 {
                    padding: 1rem;
               }

               .promo-pulse-probe {
                    padding: 1rem;
               }
          }
     }
}
