<div class="add-doctos">
  <div class="banner">
    <app-sub-nav-bar
      [title]="'Associate Doctor To Lab'"
    ></app-sub-nav-bar>
  </div>
  <div class="body">
    <div class="col-md-5 mt-2 avd">
      <app-available-doctors></app-available-doctors>
    </div>
    <div class="col-md-7 mt-2">
      <div class="header">
        <div class="col-md-6 text">
          <i class="pi pi-user-plus"></i>
          <h5 class="mt-2">Search Doctor To Add To Clinic</h5>
        </div>
        <div class="col-md-6 search">
          <span class="p-input-icon-right">
            <i class="pi pi-search" (click)="getDoctorDetails()"></i>
            <input type="text" pInputText [(ngModel)]="value" placeholder="Enter Doctor NMC Number"/>
          </span>
        </div>
      </div>
      <div class="instructions mt-2">
        <h5>Instructions</h5>
        <h6>* Search for valid NMC number</h6>
        <h6>* See the details</h6>
        <h6>* Associate the doctor to lab</h6>
        <h6>* Remove the doctor association from lab</h6>
      </div>
      <div *ngIf="!isLoading; else loader">
        <div class="error-message mt-2" *ngIf="showError?.show">
          <h4>Error While Fetching Doctor Data!!</h4>
          <h5>Reason: {{ showError?.message }}</h5>
        </div>
        <div class="doctor-details mt-2" *ngIf="doctorDetails?.doctorId">
          <div class="col-md-7">
            <h4>{{ 'Name: ' + doctorDetails?.firstName + ' ' + doctorDetails?.lastName }}</h4>
            <h5>{{ 'NMC Number: ' + doctorDetails?.nmcNumber }}</h5>
            <h5>{{ 'Email: ' + doctorDetails?.email }}</h5>
            <h5>{{ 'Phone: ' + doctorDetails?.phoneNumber }}</h5>
            <h5>{{ 'Speciality: ' + (doctorDetails?.speciality ?? ' -- ') }}</h5>
            <h5>{{ 'Qualification: ' + (doctorDetails?.qualification ?? ' -- ') }}</h5>
            <h5>{{ 'Description: ' + (doctorDetails?.description ?? ' -- ')}}</h5>
            <h5>{{ 'Gender: ' + (doctorDetails?.gender ?? ' -- ')}}</h5>
          </div>
          <div class="col-md-5 img">
            <img [src]="doctorDetails?.doctorImage ?? 'assets/images/medicine.png'">
          </div>
        </div>
        <div class="buttons mt-2" *ngIf="doctorDetails?.doctorId">
          <button class="btn btn-accept mr-2" (click)="associateDoctor()">Associate Doctor</button>
          <button class="btn btn-cancel" (click)="removeDoctor()">Remove Doctor</button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>