<div class="footer-component">
     <div class="footer-child">
          <img src="../../../../assets/images/pulse-probe-logo.png" alt="logo-image">
          <p>A safe place for your medical journey</p>
     </div>
     <div class="footer-child">
          <strong>QUICK LOGIN</strong>
          <a>Patient</a>
          <a>Doctor</a>
          <a>Lab</a>
     </div>
     <div class="footer-child">
          <strong>SERVICES</strong>
          <a>Share Report Securely</a>
          <a>Book Hospital Appointment</a>
          <a>Heart Disease Prediction</a>
     </div>
     <div class="footer-child">
          <strong>GET IN TOUCH</strong>
          <a>
               <i class="pi pi-building"></i>
               Patan, Lalitpur
          </a>
          <a>
               <i class="pi pi-phone"></i>
               +977 9840302010, 
               +977 01-5533442
          </a>
          <a>
               <i class="pi pi-inbox"></i>
               pulse.probe@gmail.com
          </a>
     </div>
</div>