<div class="patient-nav-bar">
  <div class="start col-md-2">
    <h3 class="front">Welcome User</h3>
  </div>
  <div class="mid col-md-9">
    <div class="icons">
      <div class="item">
        <i class="pi pi-home"></i>
        Home
      </div>
      <div class="item">
        <i class="pi pi-briefcase"></i>
        Reports
      </div>
      <div class="item">
        <i class="pi pi-calendar-plus"></i>
        Book Appointment
      </div>
    </div>
    <div class="search">
      <div class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input class="p-inputtext-sm" type="text" pInputText placeholder="Search Service . . . " [(ngModel)]="searchText" />
      </div>
    </div>
  </div>
  <div class="end col-md-1">
    <i class="pi pi-spin pi-cog" style="font-size: 1.8rem; font-weight: 300;"></i>
  </div>
</div>