<div class="patient-reports">
  <div class="header">
    <i class="pi pi-id-card" style="font-weight: 300; color: var(--red-700)"></i>
    <h3>Current Reports</h3>
  </div>
  <div class="report-list">
    <ul *ngFor="let report of doctorReports">
      <li><app-report-list-item
        (click)="goToDetailsPage(+!report?.patientId)"
        [reportId]="report.reportId.toString()"
        [reportStatus]="'Verified'"
        [patientName]="report.patientFirstName"
        [labBookedin]="report.healthCareCenterName"
        [reportType]="'New Report'"
        ></app-report-list-item>
      </li>
    </ul>
  </div>
</div>