<div class="nav-bar">
     <div class="banner">
          <img src="../../../../assets/images/pulse-probe-logo.png" alt="logo-image">
     </div>
     <div class="nav">
          <a class="nav-component">Home</a>
          <a class="nav-component">Find Doctor</a>
          <a class="nav-component">Search Nearby Labs</a>
          <a class="nav-component">Book Tests</a>
          <a class="nav-component">Book Appointment</a>
          <a class="nav-component btn-signup" *ngIf="!isLoggedIn">Login/SignUp</a>
     </div>
</div>